@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

.button1 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.button {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

#main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playfield,
#rate,
#settings {
    display: none;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 0.6vh;
    padding: 40px;
    min-width: 50vw;
    background-color: rgba(89, 1, 68, 0.804);
    color: #FFAD73;
    opacity: 1;
    transition: opacity 300ms ease;
}

.block.hidden {
    opacity: 0;
}

#logo {
    font-size: 25px;
}

.buttom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}


.buttom button:nth-child(2) span {
    font-size: 80px;
}

button {
    border: 1px solid black;
    background: rgba(56, 1, 43, 0.804);
    border-radius: 50%;
    padding: 20px;
    outline: 0;
}

button span {
    color: #FFAD73;
    font-size: 40px;
}

#playfield {
    flex-direction: row;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.data div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid black;
    padding: 20px;
}

.data p.title {
    font-size: 24px;
}

.data p:not(.title) {
    font-size: 40px;
    font-weight: 800;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    width: 15vw;
}

.controls button span {
    font-size: 40px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    gap: 150px;
    width: 20vw;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border-radius: 100px;
    font-size: 30px;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
text{
    font-size: 20px;
    /* color */
}